.App{
  display: flex;
  justify-content: center;
}
.main {
  display: grid;
  grid-template-columns: repeat(5, 360px);
}
.block{
  margin-top: 5%;
  width: 350px;
  border: 1px solid rgb(123, 192, 209);
  text-align: center;
}
.weather{
  width: 100%;
  display: flex;
  justify-content: center;
 
}
#temp{
  color: rgb(123, 192, 209);
  font-size: 3.2vw;
}
.cel{
  color: rgb(123, 192, 209);
  font-size: 1.5vw;
  margin-top: 3%;
}
#info{
  margin-top: 3%;
  margin-left: 5%;
  color: rgb(92, 138, 150);
  font-size: 0.8vw;
}
h2{
  color: rgb(123, 192, 209);
}
.weather-icon{
  width: 23%;
  height: auto;
  margin-right: 3%;
  padding-bottom: 1%;
}